{% extends 'posts/base.html' %}


{% block title %} <title>{{ title }}</title> {% endblock %}

{% block posts %}
<h1>{{ title }}</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ forms.non_field_errors }}</div>
    {% if forms.non_field_errors %}
    <hr>
    <h1>{{message}}</h1>
    <hr>
    {% endif %}
    {% for f in forms %}
    <label for="{{ f.id_for_label }}">{{ f.label }}</label><br>
    <p>{{ f }}</p>
    {% endfor %}
    <p><button type="submit">Отправить</button></p>

</form>
{% endblock %}