{% extends 'posts/base.html' %}


{% block title %} <title>{{ title }}</title> {% endblock %}

{% block posts %}
<h1>{{ title }}</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% if message %}
    <hr>
    <h1>{{message}}</h1>
    <hr>
    {% endif %}
    {% for f in form %}
    <label for="{{ f.id_for_label }}">{{ f.label }}</label><br>
    <p>{{ f }}</p>
    {% if forloop.last %}
    <div class="form-error">{{ f.errors }}</div>
    {% endif %}
    {% endfor %}
    <p><button type="submit">Отправить</button></p>

</form>
{% endblock %}