{% extends 'posts/base.html' %}

{% block title %}<title>Стена постов</title>{% endblock %}
{% block posts %}

<p>Место поста</p>
{% for post in posts %}
{% if not forloop.first %}
    <hr>
{% endif %}
        <h2>Автор поста {{post.user_id}}</h2>

        <h1>{{post.title}}</h1>
         <img src="{{post.images.url}}" width="500" height="500" alt="Чёт не пошло :)">
        {% autoescape off %}
        <p>{{post.description|linebreaks|truncatewords:50}}</p>
        {% endautoescape %}
        {% if post.tags.exists %}
        {% with post.tags.all as tags %}
                <p>Теги:</p>
                {% for tag in tags %}
                <p class="link-read-post"><a href="{{ tag.get_absolute_url }}">{{tag.tag}}</a></p>
                {% endfor %}
        {% endwith %}
        {% endif %}
        <p>Опубликовано: {{post.time_created|date:"d.m.Y H:i:s"}}</p>
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ post.get_absolute_url }}">Читать пост</a></p>

{% endfor %}
{% endblock %}




